/* 
https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29
https://colorhunt.co/palette/edcfa9e89f71d57149aa4a30
https://colorhunt.co/palette/faf8f1faeab1e5ba73c58940
https://colorhunt.co/palette/f0e3caff8303a357091b1a17
https://colorhunt.co/palette/bb3b0edd7631708160d8c593
https://colorhunt.co/palette/f4f4f4f0a500cf75001a1c20
*/

*{
    box-sizing:border-box;
}

body{
    height:99vh;
    width:99vw;
    background:#BB3B0E;

}

.header{
    height:70vh;
    width:99vw;
    background:#BB3B0E;
    color:white;
    opacity:1;
    display:inline-flex;

}

h1{
    margin-right:auto;
    margin-left:600px;
}

.right-header{
    margin-left:auto;
    display:flex;
    justify-content:space-around;
    gap:24px;
    margin-right:550px;
 
    
}
img{
    height:auto;
    width:1400px;
    display:inline-flex;
position:absolute;
top:-12px;
left:550px;
    
    
}