/* 
https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29
https://colorhunt.co/palette/edcfa9e89f71d57149aa4a30
https://colorhunt.co/palette/faf8f1faeab1e5ba73c58940
https://colorhunt.co/palette/f0e3caff8303a357091b1a17
https://colorhunt.co/palette/bb3b0edd7631708160d8c593
https://colorhunt.co/palette/f4f4f4f0a500cf75001a1c20
*/

*{
    box-sizing:border-box;
    font-family:Rubik, Helvetica, system-ui, sans-serif;
    color:
}

body{
    height:100vh;
    width:98vw;
    background:#BB3B0E;

}

.header{
    height:70vh;
    width:98vw;
    background:#BB3B0E;
    
}

.header-content{
    height:6vh;
    color:white;
    display:flex;
}

h1{
    margin-right:auto;
    margin-left:400px;
    font-size:32px;
}

h3{
    font-size:16px;
}

.right-header{
    margin-left:auto;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    gap:48px;
    margin-right:420px;
    font-size:16px;
}

h1,
h3{
    position:relative;
}

img{
    height:auto;
    width:1200px;
   
    display:flex;
    position:absolute;
    top:-30px;
    left:350px;
    
}

.central-text{
    position:absolute;
    left:640px;
    top:400px;
    list-style:none;
    color:white;
    font-size:40px;
    font-weight:300;

}

.central-subtext{
    position:absolute;
    left:670px;
    top:700px;
    list-style:none;
    color:white;
    font-size:18px;
    font-weight:300;
}

li+button{
    min-width:250px;
    position:relative;
   left:100px;
   bottom:110px;
   padding:9px;
   background:#D8C593;
   border:#D8C593;
   border-radius:8px;
}
