/* 
https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29
https://colorhunt.co/palette/edcfa9e89f71d57149aa4a30
https://colorhunt.co/palette/faf8f1faeab1e5ba73c58940
https://colorhunt.co/palette/f0e3caff8303a357091b1a17
https://colorhunt.co/palette/bb3b0edd7631708160d8c593
https://colorhunt.co/palette/f4f4f4f0a500cf75001a1c20
*/

*{
    box-sizing:border-box;
}

body{
   
}

.header{
    height:10vh;
    background:none;
    opacity:1;


}